# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor / IDE
.vscode/
.idea/

# macOS
.DS_Store
.vercel
.env*.local
